.DS_Store
vendor/
cover.out
**/bin/
.vscode
.idea/

# tools binary files
tmp/

# go workspace
go.work
go.work.sum

# Emacs save files
*~
\#*\#
.\#*

# Helm
Chart.lock
charts/matrixone-operator/charts/
*.tgz
