version: '3.9'

services:
  node0: 
    image: wanglei1995/matrixone:0.0.1
    ports:
      - "10000"
      - "20000"
      - "30000"
      - "40000"
      - "50000"
      - "6001:6001"
    volumes:
      - $PWD/config0/config.toml:/config/config.toml
      - cube0:/cube0
    restart: on-failure
    tty: true
    networks: 
      monet:
        ipv4_address: 172.19.0.2

  node1:
    image: wanglei1995/matrixone:0.0.1
    ports:
      - "10000"
      - "20000"
      - "30000"
      - "40000"
      - "50000"
      - "6002:6002"
    volumes:
      - $PWD/config1/config.toml:/config/config.toml
      - cube1:/cube1
    restart: on-failure
    tty: true
    depends_on:
      - node0

    networks: 
      monet:
        ipv4_address: 172.19.0.3

  node2:
    image: wanglei1995/matrixone:0.0.1
    ports:
      - "40000"
      - "50000"
      - "10000"
      - "20000"
      - "30000"
      - "6003:6003"
    volumes:
      - $PWD/config2/config.toml:/config/config.toml:ro
      - cube2:/cube2
    restart: on-failure
    tty: true
    depends_on:
      - node0
    networks: 
      monet:
        ipv4_address: 172.19.0.4

volumes:
  cube0:
  cube1:
  cube2:

networks:
  monet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16
