---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: backups.core.matrixorigin.io
spec:
  group: core.matrixorigin.io
  names:
    kind: Backup
    listKind: BackupList
    plural: backups
    singular: backup
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .meta.id
      name: ID
      type: string
    - format: date-time
      jsonPath: .meta.atTime
      name: At
      type: string
    - jsonPath: .meta.clusterRef
      name: Source
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: A Backup is a resource that represents an MO physical backup
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          meta:
            description: Meta is the backupMeta
            properties:
              atTime:
                description: atTime is the backup start time
                format: date-time
                type: string
              clusterRef:
                description: clusterRef is the reference to the cluster that produce
                  this backup
                type: string
              completeTime:
                description: completeTime the backup complete time
                format: date-time
                type: string
              id:
                description: id uniquely identifies the backup
                type: string
              location:
                description: location is the data location of the backup
                properties:
                  fileSystem:
                    description: FileSystem specified a fileSystem path as the shared
                      storage provider, it assumes a shared filesystem is mounted
                      to this path and instances can safely read-write this path in
                      current manner.
                    properties:
                      path:
                        description: Path the path that the shared fileSystem mounted
                          to
                        type: string
                    required:
                    - path
                    type: object
                  s3:
                    description: S3 specifies an S3 bucket as the shared storage provider,
                      mutual-exclusive with other providers.
                    properties:
                      endpoint:
                        description: Endpoint is the endpoint of the S3 compatible
                          service default to aws S3 well known endpoint
                        type: string
                      path:
                        description: Path is the s3 storage path in <bucket-name>/<folder>
                          format, e.g. "my-bucket/my-folder"
                        type: string
                      region:
                        description: Region of the bucket the default region will
                          be inferred from the deployment environment
                        type: string
                      s3RetentionPolicy:
                        description: S3RetentionPolicy defines the retention policy
                          of orphaned S3 bucket storage
                        enum:
                        - Delete
                        - Retain
                        type: string
                      secretRef:
                        description: Credentials for s3, the client will automatically
                          discover credential sources from the environment if not
                          specified
                        properties:
                          name:
                            description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                              TODO: Add other useful fields. apiVersion, kind, uid?'
                            type: string
                        type: object
                        x-kubernetes-map-type: atomic
                      type:
                        description: 'S3ProviderType is type of this s3 provider,
                          options: [aws, minio] default to aws'
                        type: string
                    required:
                    - path
                    type: object
                type: object
              size:
                anyOf:
                - type: integer
                - type: string
                description: size is the backup data size
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
            required:
            - atTime
            - clusterRef
            - completeTime
            - id
            - location
            - size
            type: object
          metadata:
            type: object
        required:
        - meta
        type: object
    served: true
    storage: true
    subresources: {}
