{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.env.WATCH_NAMESPACE }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
{{- if .Values.env.WATCH_NAMESPACE }}
  namespace: {{ .Values.env.WATCH_NAMESPACE }}
{{- end }}
  name: {{ template "matrixone-operator.fullname" . }}
  labels:
    {{- include "matrixone-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - configmaps
      - persistentvolumeclaims
    verbs:
      - list
      - watch
      - create
      - update
      - delete
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - apps.kruise.io
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - apps.kruise.io
    resources:
      - statefulsets
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - matrixoneclusters
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - matrixoneclusters/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - logsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - logsets/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - cnsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - cnsets/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - dnsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - core.matrixorigin.io
    resources:
      - dnsets/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
{{- end }}
