name: test_workflows

on:
  pull_request:
    branches:
      - not-exist

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event-name }}
  cancel-in-progress: true

jobs:
  checks:
    name: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/checks
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build_image_amd64:
    name: build_image_amd64
    needs: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build_image
        uses: ./.github/actions/build_image
        with:
          platforms: linux/amd64

  e2e_kind:
    name: e2e_kind_test
    needs: ["build_image_amd64"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: e2e_kind
        uses: ./.github/actions/e2e_kind

  helm_pkg_check:
    name: helm_pkg_check
    needs: ["build_image_amd64"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: helm_check
        uses: ./.github/actions/helm_check
