name: update_workflows

on:
  push:
    branches:
      - main
  release:
    types:
      - published


jobs:
  push_image:
    runs-on: ubuntu-latest
    name: push_image

  steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@master
      with:
        image: tonistiigi/binfmt:latest
        platforms:  linux/amd64,linux/arm64

    - name: Set up Docker Buildx
      id: buildx
      uses:  docker/setup-buildx-action@v1


    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        context: .
        file: images/operator/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: matrixorigin/matrixone-operator:latest
